<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>
  <footer class="footer">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <a href="#"><img src="./image/fladia_logo_bk.png"></a>
      </div>
      <div class="footer-item footer-service">
        <h3 class="footer-title">FlaDia｜フラディアについて</h3>
        <ul>
          <li>FlaDia（フラディア）について</li>
          <li>特集一覧</li>
          <li>人気記事ランキング</li>
          <li>カテゴリ一覧</li>
          <li>花・植物をさがす</li>
          <li>タグ一覧</li>
        </ul>
      </div>
      <div class="footer-item footer-detail">
        <h3 class="footer-title">FOR MORE DETAIL｜サービスの詳細</h3>
        <ul>
          <li>よくある質問</li>
          <li>お問い合わせ</li>
          <li>利用規約</li>
          <li>プライバシーポリシー</li>
        </ul>
      </div>
      <div class="footer-item footer-pr">
        <h3 class="footer-title">PR & RECRUIT｜広報・メンバー募集</h3>
        <ul>
          <li>コンテンツの引用・再掲載につい
          </li>
          <li>広告掲載・業務提携について</li>
          <li>事業立ち上げメンバー募集中</li>
          <li>インターン生募集中</li>
        </ul>
      </div>
      <div class="footer-copyright">
        <p>Copyright © 2017 fladeli inc. ALL RIGHTS RESERVED.｜本サイトに掲載された記事の無断掲載は一切禁じます。</p>
      </div>
    </div>
  </footer>