/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 */
@charset "UTF-8";

html {
  font-size: 62.5%;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #000;
  text-decoration: none;
}
head {
  display: none;
}
body {
  font-size: 1.2rem;
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #222;
}

/*ここから記事部分*/
main {
  display: block;
  float: left;
  width: 650px;
  margin-bottom: 0;
}
.article {
  display: block;
  float: left;
  width: 650px;
  margin-bottom: 0;
  line-height: 1.2;
  color: #222;
}
.article h1 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 20px;
  padding-top: 30px;
}
.article h2 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 30px;
  padding: 5px 10px;/*文字の上下 左右の余白*/
  background: #f2f2f2;/*背景色*/
  border-left: solid 10px rgba(80,145,45,.8);/*左線*/
  margin-bottom: 20px;
}
.article h3 {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 25px;
  padding: 5px 15px;
  border-bottom: dashed 2px rgba(80,145,45,.6);
  margin-bottom: 20px;
}
.heading-first {
  width: 650px;
  position: relative;
}
.article-info {
  display: block;
  width: 650px;
  height: 40px;
  clear: both;
  margin-bottom: : 20px 0;
}
.article-category a {
  color: #fff;
}
.article-category-item {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: 120px;
  line-height: 12px;
  text-align: center;
  font-size: 1.4rem;
  background-color: #444;
  color: #fff;
}
.article-date {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 5px 0;
  width: 200px;
  color: #444;
  font-size: 1.2rem;
}
.article-favorite {
  text-align: right;
  float: right;
  padding: 10px 20px;
  text-decoration: none;
  color: #444;
  border: 2px solid rgba(167,218,139,.6);
  border-radius: 4px;
  transition: .4s;
  font-size: 1.4rem;
}
.article-favorite:hover {
  background-color: rgba(167,218,139,.9);
  color: #fff;
}

.heading-first .article-view {

}
.heading-first img {
  display: block;
  max-width: 650px;
  margin: 40px auto;
}
.heading-first .article-summary {
  color: #444;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 25px;
  padding: 10px 10px;
  margin-bottom: 20px;
  background-color: rgba(167,218,139,.3);
}
.heading-second p {
  color: #444;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 25px;
  padding-left: 10px;
  margin-bottom: 20px;
}

